<form
  [formGroup]="user_query_form"
  (ngSubmit)="submitQuery()"
  class="w-full border border-purple-200 rounded-2xl p-2 bg-white flex items-end gap-x-2"
>
  <textarea
    #autoResizeTextarea
    formControlName="user_query"
    [ngStyle]="{ overflowY: isOverflowing ? 'auto' : 'hidden' }"
    (input)="autoResize(autoResizeTextarea)"
    placeholder="Ask anything"
    class="p-1 resize-none overflow-auto max-h-[160px] outline-none w-full items-center"
    rows="2"
  >
  </textarea>
  <button
    class="border border-purple-200 w-9 h-8 rounded-full flex items-center justify-center hover:bg-gradient-to-br from-purple-200 to-indigo-200"
  >
    <lucide-icon name="arrow-up" class="w-5 h-5 text-purple-900"></lucide-icon>
  </button>
</form>
