<div>
  <div
    class="flex w-20 md:hidden h-screen bg-gradient-to-b from-purple-200 to-indigo-200"
  >
    <div class="w-full flex flex-col justify-between items-center my-4">
      <div
        class="cursor-pointer h-fit p-[5px] rounded transition-colors ease-in duration-150 hover:bg-purple-300"
        (click)="toggleSidebar()"
      >
        <lucide-icon
          name="align-justify"
          title="Sidebar"
          class="text-blue-900"
        ></lucide-icon>
      </div>
      <div class="flex flex-col items-center gap-y-4">
        <lucide-icon
          name="ellipsis"
          class="cursor-pointer text-blue-900"
        ></lucide-icon>
        <app-theme-toggle></app-theme-toggle>
        <app-profile></app-profile>
      </div>
    </div>
  </div>
  <nav
    class="hidden md:w-72 lg:80 h-screen px-4 py-2 bg-gradient-to-b from-purple-200 to-indigo-200"
  >
    <div class="w-full flex items-center justify-between p-1">
      <div
        class="cursor-pointer p-[5px] rounded transition-colors ease-in duration-150 hover:bg-purple-300"
        (click)="toggleSidebar()"
      >
        <lucide-icon
          name="align-justify"
          title="Sidebar"
          class="text-blue-900"
        ></lucide-icon>
      </div>
      <div class="flex items-center gap-x-2">
        <div
          class="cursor-pointer p-[5px] rounded transition-colors ease-in duration-150 hover:bg-purple-300"
        >
          <lucide-icon
            name="search"
            title="Search chats"
            class="text-blue-900"
          ></lucide-icon>
        </div>
        <div
          class="cursor-pointer p-[5px] rounded transition-colors ease-in duration-150 hover:bg-purple-300"
        >
          <lucide-icon
            name="square-pen"
            title="New chat"
            class="text-blue-900"
          ></lucide-icon>
        </div>
      </div>
    </div>
  </nav>
</div>
