<div class="h-1 w-full">
  <app-gradient-border class="h-full"></app-gradient-border>
</div>

<div class="flex flex-col h-full">
  <div class="flex justify-between items-center h-full">
    <!-- IF the user is logged in -->
    @if (is_user_logged_in) {
    <!-- Mobile view left component -->
    <app-toggle-side-bar
      class="block md:hidden lg:hidden cursor-pointer py-4 pl-4"
    ></app-toggle-side-bar>

    <!--  middle component -->
    <div class="flex items-center text-purple-700">
      <app-chatbot-icon></app-chatbot-icon>
      <app-brand-name></app-brand-name>
    </div>

    <!-- mobile view right component -->
    <app-new-chat
      class="block md:hidden lg:hidden cursor-pointer py-4 pr-4"
    ></app-new-chat>

    <!-- tablet and desktop view right component-->
    <div class="items-center hidden lg:flex md:hidden gap-x-4 pr-4">
      <lucide-icon
        name="ellipsis-vertical"
        class="cursor-pointer text-blue-900"
      ></lucide-icon>
      <app-theme-toggle></app-theme-toggle>

      <app-profile></app-profile>
    </div>
    }
    <!-- if user not logged in  -->
    @else {
    <app-new-chat class="cursor-pointer py-4 pl-4"></app-new-chat>

    <div class="flex items-center text-purple-700">
      <app-chatbot-icon></app-chatbot-icon>
      <app-brand-name></app-brand-name>
    </div>

    <a
      routerLink="/login"
      class="h-9 w-20 mr-4 text-blue-900 border-2 border-indigo-200 hover:border-none hover:bg-gradient-to-br from-purple-200 to-indigo-200 font-semibold flex justify-center items-center rounded-full cursor-pointer"
    >
      Log in
    </a>
    }
  </div>
  <div class="h-[0.5px] w-full">
    <app-gradient-border class="h-full"></app-gradient-border>
  </div>
</div>
