<div class="gradientbackground">
  <div class="h-full px-10 lg:px-56 grid grid-rows-12 grid-flow-col">
    <div class="row-span-2 flex items-center justify-between">
      <div
        class="font-brand-font text-3xl md:text-4xl lg:text-4xl font-extrabold"
      >
        Pixella
      </div>
      <div class="flex gap-x-2 items-center text-base">
        <div class="hidden md:flex lg:flex">Don't have an account?</div>
        <a
          routerLink="/signup"
          class="flex gap-x-1 items-center cursor-pointer font-semibold"
        >
          <div>Sign up</div>
          <div
            class="animate-custom-bounce bg-white border border-purple-400 rounded-full flex justify-center items-center w-8 h-8"
          >
            <lucide-icon
              name="arrow-right"
              class="text-purple-900"
            ></lucide-icon>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row-span-10"></div>
</div>
