.gradientbackground {
  background: 
  /* for top left gradient effect */ linear-gradient(
      135deg,
      #2196f3 0%,
      transparent 70%
    ),
    /* for top right gradient effect */
      linear-gradient(-135deg, #2196f3 0%, transparent 70%),
    /* for horizontal gradient effect */
      linear-gradient(to bottom, #e1bee7 0%, #f7eef9 50%, #ffffff 100%);

  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 50% 50%, 50% 50%, 100% 100%;
  background-position: top left, top right, center;
  background-blend-mode: overlay;
  width: 100dvw;
  height: 100dvh;
}
