<!-- @if (isLoading) { -->
<div class="flex justify-center items-center">
  <div class="animate-spin"></div>
</div>

<!-- } @else { -->
<div class="gradientbackground">
  <div class="h-full px-10 lg:px-56 grid grid-rows-12 grid-flow-col">
    <div class="row-span-2 flex items-center justify-between">
      <app-brand-name></app-brand-name>
      <div class="flex gap-x-2 items-center text-base">
        <div class="hidden md:flex lg:flex">Don't have an account?</div>
        <a
          routerLink="/signup"
          class="flex gap-x-1 items-center cursor-pointer font-semibold"
        >
          <div>Sign up</div>
          <div
            class="animate-custom-bounce bg-white border border-purple-400 rounded-full flex justify-center items-center w-8 h-8"
          >
            <lucide-icon
              name="arrow-right"
              class="text-purple-900"
            ></lucide-icon>
          </div>
        </a>
      </div>
    </div>

    <div>
      <form [formGroup]="loginForm" (submit)="login()">
        <input type="text" formControlName="username" placeholder="username" />
        <input
          type="password"
          formControlName="password"
          placeholder="password"
        />
        <button type="submit">Submit</button>
      </form>

      <div>{{ errorMessage }}</div>
    </div>
  </div>
  <div class="row-span-10"></div>
</div>
<!-- } -->
